.hints {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 0 2rem;
    margin-top: 2rem;
}

.tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.tooltiptext {
    visibility: hidden;
    background-color: rgb(245 158 11);
    color: #fff;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    z-index: 1;
    text-align: center;
    font-size: 1rem;
}

.button {
    width: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(245 158 11);
    border: solid 0.1rem black;
    cursor: pointer;
    color: white;
}

.button {
    font-size: 1.5rem;
}

.button:hover {
    box-shadow: 5px 5px rgb(220 38 38), -5px -5px rgb(250 204 21);
    border: none;
}

.button:hover + .tooltiptext {
    visibility: visible;
}

@media (max-width: 900px) {
    .hints {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin: 0 0.5rem;
        margin-top: 1rem;
    }

    .button {
        width: fit-content;
        font-size: 0.8rem;
        margin: 0 0.5rem;
    }
    .tooltiptext {
        font-size: 0.5rem;
    }
}
